<div class ="container mt-5">
    <button class = "btn btn-success w-100" [routerLink]="['/register']" routerLinkActive="router-link-active" >Create new product</button>
    <div>
        <label class="form-label">Search</label>
        <input type="text" class="form-control" placeholder="Which product are you looking for?" (input)="search($event)">
    </div>

    <table class = "table table-hover table-bordered mt-5">
        <thead class = "table-dark">
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date Created</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if(products.length > 0)
            {
                @for (product of products; track $index) {
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>R${{ product.price }}</td>
                        <td>{{ product.dateCreated | date:'yyyy-MM-dd HH:mm:ss':'America/Sao_Paulo' }}</td>
                        <td>
                            <button class = "btn btn-info mx-2" [routerLink]="['/edit', product.id]" >Edit</button>
                            <button class = "btn btn-danger mx-2" (click) = "delete(product.id)">Delete</button>
                        </td>
                    </tr>
                }
            }@else {
                <tr class = "text-center">
                    <td colspan="7">No products registered</td>
                </tr>
            }
        </tbody>
    </table>
</div>